[{
        "clientID" : "Sub166Event0",
        "topic" : "TEventSynDest0",
        "userName" : "",
        "password" : "",
        "fluxNum" : "40"     
},
{
        "clientID" : "Sub166Event1",
        "topic" : "TEventSynDest1",
        "userName" : "",
        "password" : "",
        "fluxNum" : "40"          
},
{
        "clientID" : "Sub166Event2",
        "topic" : "TEventSynDest2",
        "userName" : "",
        "password" : "",
        "fluxNum" : "40"          
},
{
        "clientID" : "Sub166Event3",
        "topic" : "TEventSynDest3",
        "userName" : "",
        "password" : "",
        "fluxNum" : "40"          
},
{
        "clientID" : "Sub166Event4",
        "topic" : "TEventSynDest4",
        "userName" : "",
        "password" : "",
        "fluxNum" : "40"          
},
{
        "clientID" : "Sub166Event5",
        "topic" : "TEventSynDest5",
        "userName" : "",
        "password" : "",
        "fluxNum" : "40"          
},
{
        "clientID" : "Sub166Event6",
        "topic" : "TEventSynDest6",
        "userName" : "",
        "password" : "",
        "fluxNum" : "40"          
},
{
        "clientID" : "Sub166Event7",
        "topic" : "TEventSynDest7",
        "userName" : "",
        "password" : "",
        "fluxNum" : "40"          
},
{
        "clientID" : "Sub166Event8",
        "topic" : "TEventSynDest8",
        "userName" : "",
        "password" : "",
        "fluxNum" : "40"          
},
{
        "clientID" : "Sub166Event9",
        "topic" : "TEventSynDest9",
        "userName" : "",
        "password" : "",
        "fluxNum" : "40"          
}]