[{
        "clientID" : "Sub166DataSyn",
        "topic" : "T101DataSynDest",
        "userName" : "",
        "password" : "",
        "fluxNum" : "40"     
},
{
        "clientID" : "Sub166DataSyn",
        "topic" : "T101DataSynDest",
        "userName" : "",
        "password" : "",
        "fluxNum" : "40"     
},
{
        "clientID" : "Sub166DataSyn",
        "topic" : "T101DataSynDest",
        "userName" : "",
        "password" : "",
        "fluxNum" : "40"     
}]